<section class="landing">
  <div class="landing-text">
    <h1>You Are Welcome Admin Welcome to अवलोकनम् Nirikshsa </h1>
    <p>
      Conduct Your Surveys and Get Detailed Insights on How Your
      Surveys are Performing.
    </p>
    <a  [routerLink]="'/admin/survey'" class="btn btn-lg">Get Started</a>
    <a  [routerLink]="'/admin/showSurvey'" class="btn btn-lg ml20">Show Survey</a>
  </div>
  
</section>
       
        <div>
          <!-- <a  [routerLink]="'/admin/survey'" class="btn btn-lg">Get Started</a>
          <a  [routerLink]="'/admin/showSurvey'" class="btn btn-lg">Show Survey</a> -->
        <div class='box' style="margin-top: 200px; background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 12%, rgba(161,255,237,1) 43%, rgba(142,177,170,1) 72%); ">
          <div class='wave -one'></div>
          <div class='wave -two'></div>
          <div class='wave -three'></div>
        </div>
        
       </div>